<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE_INFO" class="ch.qos.logback.core.FileAppender">
        <file>pizza-info-log.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
        <file>pizza-error-log.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="FILE_INFO"/>
    </root>
    <root level="error">
        <appender-ref ref="FILE_ERROR"/>
    </root>
</configuration>